{% extends 'base.html' %}

{% block content %}
		<div id="about">
			<div id="hcard-Ronald-T.-Oxley" class="vcard">
				<img src="http://a4.sphotos.ak.fbcdn.net/hphotos-ak-ash4/226417_1017951366209_1147870502_30057817_676_n.jpg" alt="photo of Ronald" class="photo"/>
				<a class="url" href="http://www.rtoham.com">
					<span class="given-name">Ronald</span>
					<span class="additional-name">T.</span>
					<span class="family-name">Oxley</span>
				</a>
				<div class="org">RTO Electronics</div>
				<a class="email" href="mailto:hamtech@rtoham.com">hamtech@rtoham.com</a>
				<div class="adr">
					<div class="street-address">601 E. First St.</div>
					<span class="locality">Calexico</span>, 
					<span class="region">CA</span>, 
					<span class="postal-code">92231</span>
					<span class="country-name">United States</span>
				</div>
				<div class="tel">269.468.7780</div>
			</div>
		
		{% block additional_content %}
        {% endblock additional_content %}
		</div>
		<div id="blog">
          {% if article %}
          <h1>{{ article.title }}</h1>
          {{ article.text|linebreaks }}
          {% endif %}
		</div>

{% endblock content %}
