{% extends "base.html" %}

{% block content %}
<div id="slideshow">
  {% for unit in units %}
    <div>
      <div class="slidecopy">
        <h1>{{ unit.title }}</h1>
        <p>{{ unit.description }}</p>
      </div>
      <img src="{{ unit.image.image.url }}" alt="{{ unit.image.alt_text }}" />
    </div>
  {% endfor %}
</div>
<div id="sidebar">
  <ul>
	<li>
	  <h3>Come to event 1</h3>
	  <p>4.5.2098 - This is a description of the event aforementioned so just enjoy it</p>
	</li>
	<li>
	  <h3>Event two is fun!</h3>
	  <p>4.5.2098 - This is a description of the event aforementioned so just enjoy it</p>
	</li>
	<li>
	  <h3>I don't know event 3</h3>
	  <p>4.5.2098 - This is a description of the event aforementioned so just enjoy it</p>
	</li>
	<li>
	  <h3>Where my events at?</h3>
	  <p>4.5.2098 - This is a description of the event aforementioned so just enjoy it</p>
	</li>
	<li>
	  <h3>Yep it's time</h3>
	  <p>4.5.2098 - This is a description of the event aforementioned so just enjoy it</p>
	</li>
  </ul>		
</div>
<div id="sections">
  {% for section in sections %}
    <div>
      <a href="{{ section.link }}"><h2>{{ section.title }}</h2></a>
      <p>{{ section.text }}</p>
    </div>
  {% endfor %}
</div>
{% endblock %}
