{% extends "base.html" %}

{% block content %}
<div id="slideshow">
  {% for unit in units %}
    <div>
      <div class="slidecopy">
        <h1>{{ unit.title }}</h1>
        <p>{{ unit.description }}</p>
      </div>
      <img src="{{ unit.image.image.url }}" alt="{{ unit.image.alt_text }}" />
    </div>
  {% endfor %}
</div>
<div id="sidebar">
  <ul>
    {% for article in articles %}
	<li>
      <h3>
        <a href="{{ article.article_link }}">
          {{ article.title }}
        </a>
      </h3>
      <p>{{ article.text }}</p>
	</li>
    {% endfor %}
  </ul>		
</div>
<div id="sections">
  {% for section in sections %}
    <div>
      <h2><a href="{{ section.link }}">{{ section.title }}</a></h2>
      <p>{{ section.text }}</p>
    </div>
  {% endfor %}
</div>
{% endblock %}
