{% extends "base.html" %}
{% block content %}
<div id="sidenav">
  <ul>
	<li>
	  <a href="/products/used_equipment/">Used Equipment</a>
	</li>
	<li>
	  <a href="/products/manuals/">Manuals</a>
	</li>
	<li>
	  <a href="/products/parts/">Parts</a>
	</li>
	<li>
	  <a href="/products/accessories/">Accessories</a>
	</li>
	<li>
	  <a href="/products/repairs/">Repairs</a>
	</li>
  </ul>		
</div>
<div id="items">
  
  {% if categories.USED_EQUIPMENT %}
  <h1>Used Equipment</h1>
  {% for unit in categories.USED_EQUIPMENT %} 
  <div>
	<a href="{{ unit.url }}">
      <img src="{{ unit.image.thumbnail.url|default:"/static/images/usedplace.png" }}"
           alt="{{ unit.image.alt_text|default:"" }}"/>
      <h2>{{ unit.title }}</h2>
    </a>
	<p>{{ unit.description|truncatewords:30 }}</p>
  </div>
  {% endfor %}
  {% endif %}
  
  {% if categories.MANUALS %}
  <h1>Manuals</h1>
  {% for manual in categories.MANUALS %}
  <div>
    <a href="{{ manual.url }}">
      <img src="{{ manual.image.thumbnail.url|default:"/static/images/manualplace.png" }}"
           alt="{{ manual.image.alt_text|default:"" }}"/>
      <h2>{{ manual.title }}</h2>
    </a>
	<p>{{ manual.description|truncatewords:30 }}</p>	  
  </div>
  {% endfor %}
  {% endif %}
  
  {% if categories.PARTS %}
  <h1>Parts</h1>
  {% for part in categories.PARTS %}
  <div>
	<a href="{{ part.url }}">
      <img src="{{ part.image.thumbnail.url|default:"/static/images/partplace.png" }}"
           alt="{{ part.image.alt_text|default:"" }}"/>
      <h2>{{ part.title }}</h2>
    </a>
	<p>{{ part.description|truncatewords:30 }}</p>
  </div>
  {% endfor %}
  {% endif %}

  {% if categories.ACCESSORIES %}
  <h1>Accessories</h1>
  {% for accessory in categories.ACCESSORIES %}
  <div>
	<a href="{{ accessory.url }}">
      <img src="{{ accessory.image.thumbnail.url|default:"/static/images/accessoryplace.png" }}"
           alt="{{ accessory.image.alt_text|default:"" }}"/>
      <h2>{{ accessory.title }}</h2>
    </a>
	<p>{{ accessory.description|truncatewords:30 }}</p>
  </div>
  {% endfor %}
  {% endif %}

  {% if categories.REPAIRS %}
  <h1>Repairs</h1>
  {% for repair in categories.REPAIRS %}
  <div>
	<a href="{{ repair.url }}">
      <img src="{{ repair.image.thumbnail.url|default:"/static/images/repairplace.png" }}"
           alt="{{ repair.image.alt_text|default:"" }}"/>
      <h2>{{ repair.title }}</h2>
    </a>
	<p>{{ repair.description|truncatewords:30 }}</p>	
  </div>
  {% endfor %}
  {% endif %}
  
</div>
{% endblock content %}
