<div id="sidenav">
  <ul>
	<li>
	  <a href="/products/used_equipment/">Used Equipment</a>
	</li>
	<li>
	  <a href="/products/manuals/">Manuals</a>
	</li>
	<li>
	  <a href="/products/parts/">Parts</a>
	</li>
	<li>
	  <a href="/products/accessories/">Accessories</a>
	</li>
	<li>
	  <a href="/products/repairs/">Repairs</a>
	</li>
  </ul>		
</div>
<div id="items">
  <h1>Used Equipment</h1>
  <div>
	
	<a href="#"><img src="images/usedplace.png" alt="Used equipment placeholder img"/><h2>Heathkit SB-104A</h2></a>
	<p>We have many Heathkit manuals available.  Some are original manuals, others are copies.  Go to this page to check out our manual prices.</p>
	
  </div>
  
  <div>
	<a href="#"><img src="images/usedplace.png" alt="Used equipment placeholder img"/><h2>Heathkit SB-104A</h2></a>
	<p>We have many Heathkit manuals available.  Some are original manuals, others are copies.  Go to this page to check out our manual prices.</p>
	
  </div>
  <h1>Manuals</h1>
  <div>
	<a href="#"><a href="#"><img src="images/manualplace.png" alt="Manual placeholder img"/><h2>Parts &amp; Accessories</h2></a>
	  <p> A partial listing of parts available for your Heathkit ham gear. Our parts inventory is extensive - we have listed some of the more popular items. Please contact us for price and availability.</p>
	  
  </div>
  <div>
	<a href="#"><a href="#"><img src="images/manualplace.png" alt="Manual placeholder img"/><h2>Parts &amp; Accessories</h2></a>
	  <p> A partial listing of parts available for your Heathkit ham gear. Our parts inventory is extensive - we have listed some of the more popular items. Please contact us for price and availability.</p>
	  
  </div>
  <div>
	<a href="#"><a href="#"><img src="images/manualplace.png" alt="Manual placeholder img"/><h2>Parts &amp; Accessories</h2></a>
	  <p> A partial listing of parts available for your Heathkit ham gear. Our parts inventory is extensive - we have listed some of the more popular items. Please contact us for price and availability.</p>
	  
  </div>
  <div>
	<a href="#"><a href="#"><img src="images/manualplace.png" alt="Manual placeholder img"/><h2>Parts &amp; Accessories</h2></a>
	  <p> A partial listing of parts available for your Heathkit ham gear. Our parts inventory is extensive - we have listed some of the more popular items. Please contact us for price and availability.</p>
	  
  </div>
  <h1>Parts</h1>
  <div>
	<a href="#"><img src="images/partplace.png" alt="Parts placeholder img"/><h2>Repairs</h2></a>
	<p> A list of  service fees arranged alpabetically by model number.  This list shows the standard charge for labor on the Heathkit models we service.</p>
	
  </div>
  <div>
	<a href="#"><img src="images/partplace.png" alt="Parts placeholder img"/><h2>Repairs</h2></a>
	<p> A list of  service fees arranged alpabetically by model number.  This list shows the standard charge for labor on the Heathkit models we service.</p>
	
  </div>
  <div>
	<a href="#"><img src="images/partplace.png" alt="Parts placeholder img"/><h2>Repairs</h2></a>
	<p> A list of  service fees arranged alpabetically by model number.  This list shows the standard charge for labor on the Heathkit models we service.</p>
	
  </div>
  <div>
	<a href="#"><img src="images/partplace.png" alt="Parts placeholder img"/><h2>Repairs</h2></a>
	<p> A list of  service fees arranged alpabetically by model number.  This list shows the standard charge for labor on the Heathkit models we service.</p>
	
  </div>
  <h1>Accessories</h1>
  <div>
	<a href="#"><img src="images/accessoryplace.png" alt="Accessory placeholder img"/><h2>Repairs</h2></a>
	<p> A list of  service fees arranged alpabetically by model number.  This list shows the standard charge for labor on the Heathkit models we service.</p>
	
  </div>
  <div>
	<a href="#"><img src="images/accessoryplace.png" alt="Accessory placeholder img"/><h2>Repairs</h2></a>
	<p> A list of  service fees arranged alpabetically by model number.  This list shows the standard charge for labor on the Heathkit models we service.</p>
	
  </div>
  <h1>Repairs</h1>
  <div>
	<a href="#"><img src="images/repairplace.png" alt="Repair placeholder img"/><h2>Repairs</h2></a>
	<p> A list of  service fees arranged alpabetically by model number.  This list shows the standard charge for labor on the Heathkit models we service.</p>
	
  </div>
  <div>
	<a href="#"><img src="images/repairplace.png" alt="Repair placeholder img"/><h2>Repairs</h2></a>
	<p> A list of  service fees arranged alpabetically by model number.  This list shows the standard charge for labor on the Heathkit models we service.</p>
	
  </div>
  <div>
	<a href="#"><img src="images/repairplace.png" alt="Repair placeholder img"/><h2>Repairs</h2></a>
	<p> A list of  service fees arranged alpabetically by model number.  This list shows the standard charge for labor on the Heathkit models we service.</p>
	
  </div>
  
</div>
