/*general styling*/
body
{
background-color: #777777;
}
#container
{
background-color: white;
width:960px;
margin: auto;
}
p
{
font-family: Corbel, Tahoma, sans-serif;
}
h1, h2, h3, h4, h5
{
font-family: Minion Pro, Georgia, serif;
}
a
{
text-decoration: none;
color: #FFFF66;
}
a:hover
{
color: #B8C1B9;
}
ul
{
list-style: none;
}
/*end general styles*/


/*--------------------header styling-------------------------- */
#header
{
background-color: #054c24;

}
div#header img
{
padding: 25px 75px 25px 25px;
}
#navbar
{
display: inline;
}
#navbar li
{
display: inline;
text-transform: uppercase;
}
#navbar a
{
margin-right: 50px;
font-size: 26px;
font-family: 'Candal', sans-serif;
}
#currentpage
{
border-bottom: solid 5px white;
}
/*end header---------------------------------------- */



/*--------------------content styling------------------------- */

/*about us styles*/

/*vcard styles*/
#about
{
margin-bottom: 20px;
width: 350px;
float: left;
}
#about p
{
font-size: .9em;
line-height: 1.3em;
padding-left: 20px;
}
.vcard
{
padding-left: 20px;
padding-top: 20px;
font-family: Corbel, Tahoma, sans-serif;
line-height: 1.3em;
margin-bottom: 20px;
}
.vcard a
{
color: #339999;
}
.vcard a:hover
{
color: #B8C1B9;
}
.photo
{
height: 150px;
width: 150px;
float: left;
margin-right: 15px;
}
.country-name
{
display: block;
}
.url
{
font-family: Minion Pro, Georgia, serif;
font-size: 1.5em;
font-weight: bold;
}
/*end vcard----*/

/*blog styles*/
#blog
{
float: right;
width: 530px;
padding-right: 30px;
padding-top: 13px;
margin-bottom: 20px;
}
#blog h1
{
color: #B8C1B9;
font-size: 2em;
margin-bottom: 15px;
}
#blog p
{
line-height: 1.6em;
}
/*end blog---*/
/*end about us-----*/

/*products & services styles*/
#items
{
min-height: 500px;
float: right;
margin: 10px;
width: 700px;
}
div#items > div
{
min-height: 100px;
padding: 10px;
padding-top: 20px;
border-top: 1px solid #339999;
}
div#items h1 + div
{
border-top: none;
}
#items h1
{
font-size: 1.4em;
}
#items img
{
width: 120px;
height: 90px;
float: left;
margin-right: 15px;
}
#items a
{
color: #339999;
}
#items a:hover
{
color: #B8C1B9;
}
#items div > h2 + p
{
float:left;
width: 385px;
}
.price
{
float: right;
}
.price p
{
width: 100px;
text-align: right;
}
.price span:first-child
{
color: #B8C1B9;
}
.price span
{
text-transform: uppercase;
}
.price span+span
{
font-size: 1.5em;
}
.clearfix
{
clear:both;
height: 0;
}
ul.pagenav
{
float: right;
}
.pagenav li
{
text-align: right;
display: inline;
clear: both;
}
/*sidenav styles*/
#sidenav
{
position: fixed;
padding: 15px 10px 0px 10px;
margin-right: 10px;
min-height: 535px;
width: 200px;
float: left;
}
#sidenav ul
{
text-align: right;
list-style: none;
}
#sidenav li
{
float:right;
width: 150px;
margin-bottom: 10px;
border-bottom: solid 1px #E8EFEE;
}
#sidenav a
{
color: #339999;
font-weight:bold;
font-family: Corbel, Tahoma, sans-serif;
text-transform: uppercase;
}
#sidenav a:hover
{
color: #B8C1B9;
}
/*end sidenav-----*/
/*end products & services----------*/

/*individual product page styles*/
div#prodimgs
{
float: left;
width: 460px;
padding: 20px;
}
#prodimgs img
{
background-color: #999999;
}
.mainprodimg
{
height: 345px;
width: 460px;
cursor: pointer;
}
.thumbprodimg
{
height: 90px;
width: 120px;
margin-top: 20px;
margin-right: 45px;
cursor: pointer;
}
#prodimgs div
{
    float: left;
}
#prodimgs div:last-child img
{
margin-right: 0px;
}
div#proddesc
{
width: 420px;
float: left;
padding: 20px 20px 20px 0px;
}
#proddesc h1
{
font-family: Minion Pro, Georgia, serif;
font-size: 1.7em;
font-weight: bold;
color: #339999;
margin-bottom: 15px;
}

#proddesc p
{
line-height: 1.6em;
margin-bottom: 15px;
}
#proddesc a
{
width: 101px;
height: 29px;
float: right;
clear: both;
}

/*end individual product page---*/

/*homepage styles-------------------*/
/*slideshow styles*/
#slideshow
{
margin: 10px;
width: 700px;
}
.slidecopy
{
float: left;
max-height: 325px;
width: 200px;
padding: 10px;
margin-right: 20px;
overflow: hidden;
}
.slidecopy h1
{
margin-bottom: 15px;
font-size: 1.4em;
}
#slideshow img
{
float: left;
width: 460px;
height: 345px;
}
/*end slideshow-------*/

/*sidebar styles*/
#sidebar
{
padding: 15px 15px 0px 15px;
margin-right: 10px;
background-color: #054c24;
min-height: 585px;
width: 190px;
float: right;
}
#sidebar ul
{
list-style: none;
}
#sidebar h3
{
color: #B8C1B9;
margin-bottom: 5px;
}
#sidebar p
{
color: #fff;
margin-bottom: 15px;

}
/*end sidebar------*/


/*sections styles*/
#sections
{
padding: 360px 0px 0px 10px;

}
#sections div
{
float: left;
width: 180px;
min-height: 200px;
margin-bottom: 15px;
padding: 20px;
padding-left: 30px;
padding-right: 29px;
border-right: solid #B8C1B9 1px;
}
#sections h2
{
font-size: 1.2em;
margin-bottom: 5px;
}
#sections a
{
color: #339999;
}
#sections a:hover
{
color: #B8C1B9;
}
/*end sections------*/
/*end homepage--------------*/

/*404 Error Page Styles*/
div#error
{
min-height: 500px;
}
#error h1
{
color: #339999;
font-size: 1.7em;
margin-bottom: 20px;
}
#error img
{
margin-right: 40px;
float: left;
}
#error p
{
float: left;
margin-bottom: 40px;
margin-top: 40px;
padding-right: 20px;
width: 420px;
}
/*End 404 Styles-------*/
/*end content---------------------------------------- */



/*--------------------footer styling-------------------------- */
#footer
{
clear: both;
min-height: 100px;
background-color: #054c24;
text-align: center;
color: #fff;
}

#bottomnav
{
padding-top: 15px;
padding-bottom: 5px;
text-transform: uppercase;
}
#bottomnav li
{
display: inline;
color: #fff;
margin-right: 20px;
}
#bottomnav li:last-child
{
margin-right: 0px;
}
#bottomnav a
{
color: #fff;
}
#bottomnav a:hover
{
color: #B8C1B9;
}
/*end footer----------------------------------------------- */